Language: Cpp

# Standard Model
BasedOnStyle: LLVM

# So braces are in the same line as the if, else, while, etc
BreakBeforeBraces: Attach

# So there are braces even when they are not necessary (single-line ifs)
InsertBraces: true

# To add a space between ifs and parethesis
SpaceBeforeParens: ControlStatements

IndentWidth: 4
ColumnLimit: 0

SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:    '^<.*>'
    Priority: 1
  - Regex:    '^".*"'
    Priority: 2

# Force closing parenthesis to a new line on wrapped function calls
AlignAfterOpenBracket: BlockIndent
BinPackArguments: false
