---
Language:        C

# Standard Model
BasedOnStyle:  LLVM

# So braces are in the same line as the if, else, while, etc
BreakBeforeBraces: Attach

# So there are braces even when they are not necessary (single-line ifs)
InsertBraces: true

# To add a space between ifs and parethesis
SpaceBeforeParens: ControlStatements

IndentWidth: 4
ColumnLimit: 0

# # Increase the cost of breaking after an assignment
# PenaltyBreakAssignment: 100
#
# # Ensure operands (like your two strlen calls) stay vertically aligned
# AlignOperands: Align
#
# # Set this to 'None' if you want the '+' to stay at the end of the line
# # Set to 'All' if you want the '+' to move to the start of the next line
# BreakBeforeBinaryOperators: None
